<!doctype html>
<html>
  <head> 
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/svg" href="/media/content/icon.svg">
    <link rel="icon" type="image/svg" href="/media/content/icon.svg" sizes="any" />
    <!-- upstream: 2714774d6c464dd12d5f8533e28ffafd79eec23ab20990b5ac14de940680a6fe -->
    <!-- dev-legacy: 23ac9997a086926d2a8481b5b8a5a03869611f278f3434e2293db258ae4195a6 -->
    <!-- dev-neu: 89df9cb942aabc67f3fdac44491a246a6f647aa93d425a95ef4253201eb8a5d2 -->
    <!-- dev-neu-mirror: rotonde-neu.hashbase.io -->
    <script src="dat://rotonde-neu.hashbase.io/rotonde.js"/></script>
    <script defer>
      var r = new Rotonde("dat://rotonde-neu.hashbase.io/"); r.install();
    </script>
  </head>
  <body></body>
</html>
