*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-regular: 'input_mono_regular', monospace;
  --font-medium: 'input_mono_medium', monospace;
  --font-thin: 'input_mono_thin', monospace;
  --black: #222;
  --grey: #aaa;
  --white: #fcfcfc;
  --red: #d95270;

  color: var(--black);
  font-family: var(--font-regular);

  font-size: 100%;
}

:root, body {background: #f9f9f9; }

h1 {font-family: var(--font-medium);font-size: 4rem;}
p {margin: 1rem 0;}
a[href]{text-decoration: underline var(--grey);cursor: pointer;}
a[href]:hover {text-decoration-color: var(--black);}

#landing-page img { width:100px; height:100px; }
#landing-page h1 { font-size:16px; text-align: center; }
#congrats-page article {width: 30rem;}
#congrats-page article p { font-size: 14px;line-height: 25px;}

.pane {position: absolute;top: 0;left: 0;width: 100vw;height: 100vh;display: flex;flex-flow: column nowrap;align-items: center;justify-content: center;overflow: auto;}
.pane--active {opacity: 1;transform: scale(1);transition: opacity 400ms 400ms ease, transform 400ms 400ms ease;z-index: 1;}
.pane:not(.pane--active) {opacity: 0;transition: opacity 500ms ease, transform 400ms 100ms ease;}
.pane--fade-left:not(.pane--active) {transform: translateX(-1rem); }
.pane--fade-right:not(.pane--active) {transform: translateX(1rem);}
.pane-view {overflow: hidden;transition: margin 700ms 200ms ease;position: relative;height: 100vh;width: 100vw;}
.field input[type="text"] {width: 100%;line-height: 30px;background-color: transparent;cursor: text;transition: border-color 200ms ease;border-bottom: 1px solid #000;font-size: 14px;text-align: center;padding: 5px 15px; color:white;}
.field input[type="text"]:hover:not(:active),.field input[type="text"]:focus:not(:active) {border-color: var(--black);}
.field input[type="text"]::placeholder {color: var(--grey);}
.field[data-invalid] input[type="text"]{border-color: var(--red);}
.field[data-help]::after, .field[data-invalid]::after {display: block;margin-top: .25rem;font-size: .7em;text-align: center;}
.field[data-help]::after {content: attr(data-help);color: var(--grey);}

.field.avatar {display: flex;flex-flow: column nowrap;align-items: center;background: white;padding: 40px 20px; width:300px;}
.field.avatar img:hover { opacity: 0.25 }
.field.avatar[data-invalid] label {border-color: var(--red)}
.field.avatar input[type="file"] {display: none;}
.field.avatar label { position: relative;cursor: pointer;transition: border-color 200ms ease;border-radius: 4px; }
.field.avatar img {max-width: 100%;max-height: 10rem;}
.field.avatar label:hover:not(:active),.field.avatar label:focus:not(:active) {border-color: var(--black);}
.field.avatar label:hover:not(:active)::after,.field.avatar label:focus:not(:active)::after {background-color: var(--black)}
.field.name { background: #000;width: 300px; }
.field.name input { width:300px; }

#close-congrats-page { display: none }

.field[data-invalid] { background:red;}

