:root {
  /* Variables - can be overridden by custom.css */
  --rune-operator-message: ">";
  --rune-operator-command: "$";
  --rune-operator-media: "!";

  --rune-feed-whisper: "&";
  --rune-feed-quote: "+";
  --rune-feed-mention: ":";

  --rune-portal-rotonde: "$";
  --rune-portal-self: "+";
  --rune-portal-both: "@";
  --rune-portal-follow: "~";
  --rune-portal-unknown: "–";
  --rune-portal-bot: "$";
}

body { overflow-x: hidden; font-size: 11pt; font-family: 'Helvetica Neue','Helvetica'; padding: 30px; line-height: 20pt; background: #eee; padding-bottom: 140px; width: 100vw; display: flex; flex-direction: column; padding: 0px; min-width: 900px}
t { display: inline-block; }
hr { clear: both; }

@keyframes entry-preloader {
  0% { opacity: 1; transform: scale(0); }
  100% { opacity: 0; transform: scale(1); }
}
.preloader-wrap > .preloader { transition: opacity 2s, transform 2s; animation: entry-preloader 2s infinite; background: currentColor; transform: scale(0); opacity: 1; border-radius: 100%; position: absolute; width: 32px; height: 32px; top: calc(50% - 16px); left: calc(50% - 16px); }
.preloader-wrap > .preloader.b { animation: entry-preloader -1s 2s infinite; }
.preloader-wrap.done > .preloader { animation: none; opacity: 0; transform: scale(1); }

body #portal { position: fixed; left: 0px; bottom: 0px; width: 200px; z-index: 1000; height: 30px; }
body #portal #logo { width: 50px; height: 50px; display: block; position: absolute; left: 25px; width: 30px; height: 30px; display: block; position: absolute; left: 10px; bottom: 10px; opacity: 0.1}
body #portal #version { width: 50px; height: 50px; display: block; position: absolute; top: 30px; left: 100px; font-size: 12px; font-weight: bold; }
body #portal #profile { width: 700px; position: absolute; top: 10px; left: calc(50vw); z-index: 300; margin-left: -350px; display: none}
body #portal .version { position: absolute; left: 50px; font-size: 11px; font-weight: bold; bottom: 12.5px; opacity: 0.1; ; }

body #feed { padding: 0px; min-width: 600px; max-width: 700px; min-height: calc(100vh + 40px); margin: 0px auto; width: 100vw; transition: transform 0.2s; }
body #feed .clear_filter { margin-bottom: 20px; display: block; margin-left: 30px; }
body #feed .clear_filter:hover { cursor: pointer; text-decoration: underline; }
body #feed .clear_filter b { font-family: 'input_mono_medium' }
body #feed .entry { padding: 10px 0px; line-height: 20px; padding-left: 100px; position: relative; min-height: 70px; background: white; margin-bottom: 1px; transition: background-color 0.1s; }
/*body #feed .entry.large .message{ font-size: 16pt; line-height: 28px; max-width: 75%; }*/
body #feed .entry:hover { background: #f4f4f4; }
body #feed .entry .link { position: absolute; right: 20px; color: #aaa; font-size: 14px; top: 25px; display: none; padding: 0px 15px; }
body #feed .entry:hover .link { display: block }
body #feed .entry .link:hover { color: black; cursor: pointer; }
body #feed .entry .icon { width: 60px; height: 60px; display: block; float: left; margin-right: 20px; position: absolute; left: 15px; top: 25px; }
body #feed .entry .head { display: block; font-size: 14px; border-bottom: 1px solid #ddd; line-height: 40px; margin-right: 30px; }
body #feed .entry .head .topic { background: #000; color: white; font-size: 11px; display: inline-block; font-weight: bold; padding: 5px 7px; line-height: 12px; margin-right: 10px; border-radius: 3px; text-transform: uppercase; }
body #feed .entry .head .topic:empty { display: none; }
body #feed .entry .head .topic:hover { text-decoration: underline; cursor: pointer; }
body #feed .entry .head .pinnedtext { color: #ccc; display: block; margin-left: 5px; font-weight: bold; font-size: 11px; text-transform: uppercase; }
body #feed .entry .head .portal { display: inline-block; }
body #feed .entry .head .portal a { font-weight: bold }
body #feed .entry .head .timestamp { color: #ccc; display: inline-block; margin-left: 10px; }
body #feed .entry .head .timestamp:hover { cursor: pointer; text-decoration: underline; }
body #feed .entry .head .editstamp { color: #ccc; display: inline-block; margin-left: 10px;  }
body #feed .entry .head .editstamp:hover { cursor: pointer; text-decoration: underline; }
body #feed .entry .head .tools { display: inline-block; float: right; opacity: 0; transition: opacity 0.1s; }
body #feed .entry .head:hover .tools { opacity: 1; }
body #feed .entry .head .tools > * { color: #aaa; cursor: pointer; display: inline-block; margin-left: 5px; font-weight: bold; font-size: 11px; text-transform: uppercase; transition: color 0.1s; }
body #feed .entry .head .tools > *:hover { color: black; text-decoration: underline; }
body #feed .entry .message { line-height: 23px; width: calc(100% - 60px); margin: 10px 0px; }
body #feed .entry .message a { text-decoration: underline; }
body #feed .entry .message b { font-weight: bold }
body #feed .entry .message i { font-style: italic; }
body #feed .entry .message del { text-decoration: line-through; }
body #feed .entry .thread { margin-right: 30px; margin-top: 10px; transition: height 0.2s; }
body #feed .entry .thread .message { padding: 0px 40px 0px 70px; color: #777; margin-bottom: 10px; font-size: 11pt; position: relative; min-height: 60px; /* max-width: 350px; */ margin-top: 0px; }
body #feed .entry .thread .message a:first-child { font-weight: bold; color: #000; font-style: normal; text-decoration: none; }
body #feed .entry .thread .message a img { top: 0px; left: 0px; width: 50px; height: 50px; }
body #feed .entry .thread .expand,
body #feed .entry .media.embed .expand { padding: 5px 0px; font-size: 12px; color: #aaa; border-top: 1px solid #ddd; display: block; margin-top: 10px; }
body #feed .entry .thread .expand:hover,
body #feed .entry .media.embed .expand:hover { color: #000; cursor: pointer; }
body #feed .entry .thread .entry { background: transparent; padding-top: 0px; padding-bottom: 0px; min-height: 60px; padding-left: 70px; }
body #feed .entry .thread .entry:hover { }
body #feed .entry .thread .entry .message { padding: 0px 0px; margin-top: 0px; min-height: 15px; margin-bottom: 15px; }
body #feed .entry .thread .entry .icon { width: 50px; height: 50px; top: 0px; left: 0px; }
body #feed .entry .message .highlight { font-weight: bold; color: #555; line-height: 25px; }
body #feed .entry .message .inline { display: inline-block; margin: 6px 4px -6px 4px; height: 24px; }
body #feed .entry .hashtag:hover { cursor: pointer; text-decoration: underline; }
body #feed .entry .media { position: relative; display: block; border-radius: 4px; max-width: calc(100% - 30px); max-height: 400px; margin-top: 15px; margin-bottom: 15px; left: calc(50% - 15px); transform: translateX(-50%); }
body #feed .entry .media.embed { }
body #feed .entry .media.embed iframe, body #feed .entry .media.embed .media { max-height: 360px; margin-bottom: 20px; }
body #feed .entry .media.embed iframe { width: 100%; }
body #feed .entry .media.embed iframe.sandbox { height: 10000px; /* Limited by max-height */ }
body #feed .entry .media.embed .expand { margin-top: 0; }
body #feed .entry .media.embed .expand:hover {  }
body #feed .entry::-webkit-media-controls-panel { filter: grayscale(); }
body #feed .entry audio { width: 100% }
body #feed .entry video { width: 100% }
body #feed .entry a.media { font-family: 'input_mono_medium'; font-size: 12px; padding: 0px 5px; display: inline-block; background: #ccc; color: #000; border-radius: 0; }
body #feed .entry a.media:hover { background: #000; color: #fff; }
body #feed .entry code { font-family: 'input_mono_regular'; font-size: 12px; display: inline-block; background: black; color: white; padding: 0px 5px; border-radius: 3px; }

/* Entry-Whisper */
body #feed .entry.whisper { background: black; color: white; border-radius: 3px; }
body #feed .entry.whisper .timestamp { color: #555; }
body #feed .entry.whisper .thread .message a:first-child { color: #fff; }
body #feed .entry.whisper .thread .expand { border-top: 1px solid #555; }
body #feed .entry.whisper .thread .expand:hover { color: #fff; }
body #feed .entry.whisper .head { border-bottom: 1px solid #555; }
body #feed .entry.whisper .icon { filter: invert(100%) }
body #feed .entry.whisper .tools > *:hover { color: white; text-decoration: underline; }

body #feed .entry.quote.bump > .message { display: none }
body #feed .entry.quote.bump .thread .message { color: black; }

body #feed .entry .thread .entry .head { border-bottom: none; line-height: 30px; margin-right: 0; }

body #feed .entry.pseudo { padding-left: 0; background: none; }

body #feed .paginator { font-family: "input_mono_regular"; cursor: pointer; user-select: none; text-align: center; }
body #feed .entry.paginator { padding: 0; }
body #feed .entry.paginator .message { margin: 16px 0 0 0; font-size: 16px; line-height: 40px; pointer-events: none; }
body #feed .badge.paginator .message { margin: 50px auto; font-size: 16px; text-decoration: none; pointer-events: none; }

body #feed .badge.paginator.refresh .message { transition: opacity 0.2s; }
body #feed .badge.paginator.refreshing { cursor: default; }
body #feed .badge.paginator.refreshing .message { opacity: 0.5; }

#wr_timeline { display: block; padding-bottom: 50px; }
#wr_portals { display: none; padding-bottom: 50px; }

body #feed.mentions .entry.mention { display: block }

body #feed.portals #wr_portals,
body #feed.network #wr_portals { display: block }
body #feed.portals #wr_timeline,
body #feed.network #wr_timeline { display: none; }

body #feed #tabs { z-index: 500; position: sticky; background: #eee; padding-top: 20px; top: 40px; margin-bottom: 30px; height: 46px; }
body #feed #tabs t { padding: 10px 15px; display: inline-block; font-size: 12px; font-weight: bold; color: #aaa; margin-bottom: -1px; transition: color 0.1s; }
body #feed #tabs #tab_services { float: right; display: none }
body #feed #tabs t:hover,body #feed #tabs t.active { color: black; cursor: pointer; }

body #feed #tabs_wrapper { padding-top: 10px; }
body #feed.timeline #tab_timeline,
body #feed.mentions #tab_mentions,
body #feed.whispers #tab_whispers,
body #feed.portals #tab_discovery { }

body > div.rotonde { }
body > div.rotonde.sidebar { }
body > div.rotonde.sidebar #status { transform: translateX(0); }
body > div.rotonde.sidebar #operator,
body > div.rotonde.sidebar #feed { transform: translateX(calc(250px / 2)); }

body #operator { position: fixed; overflow: hidden; font-family: "input_mono_regular"; margin: 0px auto; min-width: 400px; width: 100vw; top: 0px; background: #fff; z-index: 998; padding: 5px 0px; box-shadow: 0px 0px 2px rgba(0,0,0,0.15); min-height: 50px; transition: transform 0.2s; }
body #operator textarea { display: flex; width: 100%; align-content: center; height: 20px; resize: none; max-height: 110px; background: transparent; align-self: center; transition: all 0.2s; line-height: 22px; min-height: 20px; padding-left: 15px; }
body #operator textarea::-webkit-scrollbar { display: none; }
body #operator #hint { line-height: 20px; display: flex; text-align: right; align-self: flex-end; white-space: nowrap; color: RGBA(0,0,0,0.25); margin-right: 15px; }
body #operator #hint.autocomplete { color: black; }
body #operator #wrapper { overflow: hidden; min-height: 1em; display: flex; padding: 10px 0px; font-size: 12px; padding-left: 20px; max-width: 630px; position: relative; background: #f4f4f4; color: #000; border-radius: 3px; margin: 5px auto; left: 25px; transition: background-color 0.2s; }
body #operator #wrapper.drag { background: #b7b7b7; }
body #operator:hover #options { opacity: 1 }
body #operator #options { padding: 5px 15px; font-size: 11px; color: #aaa; height: 0px; opacity: 0; transition: opacity 0.25s ease-in-out; display: none}
body #operator #options t:hover { text-decoration: underline; color: black; cursor: pointer; }
body #operator #options t.right { float: right; display: inline-block; margin-left: 10px; }
body #operator #rune { position: absolute; left: 0px; color: #aaa; line-height: 16pt; padding-left: 15px; }
body #operator #icon { transition: opacity 0.2s; width: 40px; height: 40px; display: block; position: absolute; left: calc(50% - 350px) !important; top: 10px; cursor: pointer; }
body #operator #icon:hover { opacity: 0.5; }

body #status { display: block; width: 250px; background: #000; position: fixed; top: 0px; left: 0px; z-index: 999; height: 100vh; transform: translateX(-250px); transition: transform 0.2s; }
body #status > h1 { border-bottom: 1px solid #333; line-height: 60px; padding-left: 70px; font-size: 12px; font-weight: bold; color: white;  }
body #status > h1 a { color: #fff; }
body #status > h1 a:hover { text-decoration: underline; }
body #status > .logo { filter: invert(100%); background-image: url(../media/logo.svg); background-size: contain; height: 40px; width: 40px; position: absolute; top: 10px; left: 15px; border: 0px; outline: 0px; }
body #status > list { display: block; color: white; padding: 20px 30px 20px 20px; overflow-y: scroll; height: calc(100vh - 90px); }
body #status > list ln { display: block; line-height: 20px; font-size: 12px; clear: both; color: #fff; }
body #status > list ln.inactive { color: #999; }
body #status > list ln.unfetched { color: #333; }
body #status > list ln:hover .time_ago { display: none; }
body #status > list ln a { font-weight: bold }
body #status > list ln a i { display: inline-block; }
body #status > list ln a.compatible i { color: white; }
body #status > list ln a:hover { text-decoration: underline; cursor: pointer; }
body #status > list ln .time_ago { color: #666; float: right; }
body #status > list ln .remove { color: #444; float: right; display: none}
body #status > list ln.filter .time_ago { color: #fff; }
body #status > list ln:hover .time_ago { display: none; }
body #status > list ln:hover .remove { display: block; }
body #status > list ln .remove:hover { cursor: pointer; text-decoration: underline; color: red; }
body #status > list ln.pseudo { position: relative; }
body #status > list ln.preloader-wrap { height: 0; top: -20px; }
body #status > list ln > .preloader { color: white; }

body #feed #tabs t#tab_portals { display: none }
body #feed #tabs t#tab_discovery { float: right; }

.badge { display: inline-block; margin-bottom: 1px; position: relative; padding: 10px; background: white; font-size: 11pt; width: calc(25% - 20px); float: left; text-align: center; height: 240px; overflow: hidden; }
.badge img { width: 100px; height: 100px; display: block; margin: 20px auto; }
.badge a { font-weight: bold; font-size: 11pt; line-height: 12pt; display: inline-block }
.badge a:hover { text-decoration: underline; cursor: pointer; }
.badge t { font-size: 10pt; color: #ccc; line-height: 11pt; margin-top: 0px; display: inline-block; }
.badge span { display: inline-block; font-size: 11px; font-weight: bold}
.badge span.version { background: #eee; padding: 0px 7px; border-radius: 9px; font-size: 11px; font-weight: bold; line-height: 18px; margin-right: 15px; }
.badge span.version.same { background: #72dec2; color: white; }
.badge span.time_ago { color: #ccc; padding-left: 5px; }
.badge span b { font-weight: bold }
.badge:hover { background: #f4f4f4; cursor: pointer; }

.badge.network { background: white; }

.rune.rune-operator.rune-operator-message:after { content: var(--rune-operator-message); }
.rune.rune-operator.rune-operator-command:after { content: var(--rune-operator-command); }
.rune.rune-operator.rune-operator-media:after { content: var(--rune-operator-media); }

.rune.rune-feed.rune-feed-whisper:after { content: var(--rune-feed-whisper); }
.rune.rune-feed.rune-feed-quote:after { content: var(--rune-feed-quote); }
.rune.rune-feed.rune-feed-mention:after { content: var(--rune-feed-mention); }

.rune.rune-portal.rune-portal-rotonde:after { content: var(--rune-portal-rotonde); }
.rune.rune-portal.rune-portal-self:after { content: var(--rune-portal-self); }
.rune.rune-portal.rune-portal-both:after { content: var(--rune-portal-both); }
.rune.rune-portal.rune-portal-follow:after { content: var(--rune-portal-follow); }
.rune.rune-portal.rune-portal-unknown:after { content: var(--rune-portal-unknown); }
.rune.rune-portal.rune-portal-bot:after { content: var(--rune-portal-bot); }

body.guest #operator #wrapper { display: none; }

html.night { filter: hue-rotate(180deg) invert(); background: #111; }
html.night body #feed .entry img { filter: hue-rotate(180deg) invert(); background: #eeeeee; }
html.night body #feed .entry video { filter: hue-rotate(180deg) invert(); }
html.night body #feed .entry iframe { filter: hue-rotate(180deg) invert(); }
html.night body #status { filter: invert(); }
html.night body #status list::-webkit-scrollbar { filter: invert(); }
html.night::-webkit-media-controls-panel { background: #000; }

body #feed #tabs,
body #feed #wr_timeline,
body #feed #wr_portals { transition: filter 0.15s; will-change: filter; }
body.in-bigpicture #feed #tabs,
body.in-bigpicture #feed #wr_timeline,
body.in-bigpicture #feed #wr_portals { filter: blur(2px) saturate(50%); }

body #feed .bigpicture { background: rgba(0, 0, 0, 0.9); position: absolute; display: block; z-index: 1001; top: 0; right: 0; left: 0; min-height: calc(100vh - 60px); }
body #feed .bigpicture > .entry { margin: calc(100vh - 60px) auto 0 auto; width: 100%; max-width: 700px; }
body #feed .bigpicture > .entry .media { position: absolute; top: calc(-50vh + 60px); left: 50%; margin: 0; transform: translate(-50%, -50%); }
body #feed .bigpicture > .entry .media,
body #feed .bigpicture > .entry .media.embed .media { max-width: calc(100vw - 30px); max-height: calc(100vh - 60px - 60px - 30px); }
body #feed .bigpicture > .entry .media.embed .media { display: block; margin: 0; padding: 0; left: 0; top: 0; }
body #feed .bigpicture > .entry .media.embed .expand { display: none; }

body .fade-in { animation: fade-in 0.15s forwards; }
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
body .fade-out-die { animation: fade-out-die 0.15s forwards; pointer-events: none; }
@keyframes fade-out-die {
  0% { opacity: 1; }
  100% { opacity: 0; display: none !important; }
}

body .hidden { display: none !important; pointer-events: none; }
