:root {
  /* Variables - can be overridden by custom.css */
  --rune-operator-message: ">";
  --rune-operator-command: "$";
  --rune-operator-media: "!";

  --rune-feed-whisper: "&";
  --rune-feed-quote: "+";
  --rune-feed-mention: ":";

  --rune-portal-rotonde: "$";
  --rune-portal-self: "$";
  --rune-portal-both: "@";
  --rune-portal-follow: "~";
  --rune-portal-bot: "$";
}

body { overflow-x:hidden; font-size:11pt; font-family: 'Helvetica Neue','Helvetica'; padding:30px; line-height:20pt; background:#eee; padding-bottom: 140px; width: 100vw; display: flex; flex-direction: column; padding: 0px; min-width: 900px}
t { display:inline-block; }
hr { clear:both; }

body #portal { position: fixed;left: 0px;bottom: 0px;width: 200px;z-index: 1000;height: 30px;}
body #portal #logo { width: 50px;height: 50px;display: block;position: absolute;left: 25px;     width: 30px;height: 30px;display: block;position: absolute;left: 10px;bottom: 10px; opacity: 0.1}
body #portal #version { width:50px; height: 50px; display:block;position: absolute;top: 30px;left: 100px; font-size:12px; font-weight: bold; }
body #portal #profile { width: 700px;position: absolute;top: 10px;left: calc(50vw);z-index: 300;margin-left: -350px; display: none}
body #portal .version { position: absolute;left: 50px;font-size: 11px;font-weight: bold;bottom: 12.5px;opacity: 0.1;; }

body #portal #discovery { font-size:11px; color:#000; line-height: 20px; margin-bottom:20px; display: none}

body #feed { padding:0px; min-width: 600px; max-width:700px; margin:0px auto; width: 100vw;}
body #feed .clear_filter { margin-bottom: 20px; display: block; margin-left:30px; }
body #feed .clear_filter:hover { cursor:pointer; text-decoration: underline; }
body #feed .clear_filter b { font-family: 'input_mono_medium' }
body #feed .entry { padding: 10px 0px;line-height: 20px;padding-left: 100px;position: relative; min-height:70px; background:white; margin-bottom:1px;}
/*body #feed .entry.large .message{ font-size: 16pt;line-height: 28px;max-width: 75%; }*/
body #feed .entry:hover { background:#f4f4f4; }
body #feed .entry:hover .tools { display:inline-block; } /* REPAIR */
body #feed .entry .link { position:absolute; right:20px; color:#aaa; font-size:14px; top:25px; display: none; padding:0px 15px;}
body #feed .entry:hover .link { display: block }
body #feed .entry .link:hover { color:black; cursor: pointer; }
body #feed .entry .icon { width:60px; height:60px; display:block; float:left; margin-right:20px; position: absolute; left:15px; top:25px;}
body #feed .entry .head {     display: block;font-size: 14px;border-bottom: 1px solid #ddd;line-height: 40px;margin-right: 30px; }
body #feed .entry .head .pinnedtext { color:#ccc; display: block; margin-left:5px; font-weight: bold; font-size:11px; text-transform: uppercase;}
body #feed .entry .head .portal { display:inline-block;}
body #feed .entry .head .portal a { font-weight: bold }
body #feed .entry .head .timestamp { color:#ccc; display: inline-block; margin-left:10px; }
body #feed .entry .head .timestamp:hover { cursor:pointer; text-decoration: underline; }
body #feed .entry .head .editstamp { color:#ccc; display: inline-block; margin-left:10px;  }
body #feed .entry .head .editstamp:hover { cursor:pointer; text-decoration: underline; }
body #feed .entry .head .tools { display:none; float:right; }
body #feed .entry .head:hover .tools { display: inline-block; }
body #feed .entry .head .tools > * { color:#aaa; cursor:pointer; display: inline-block; margin-left:5px; font-weight: bold; font-size:11px; text-transform: uppercase;}
body #feed .entry .head .tools > *:hover { color: black; text-decoration: underline; }
body #feed .entry .message { line-height: 23px; width: calc(100% - 60px); margin: 10px 0px;}
body #feed .entry .message a { text-decoration: underline; }
body #feed .entry .message b { font-weight: bold }
body #feed .entry .message i { font-style: italic; }
body #feed .entry .message del { text-decoration: line-through; }
body #feed .entry .thread { margin-right: 30px; margin-top: 10px; }
body #feed .entry .thread .message { padding:0px 40px 0px 70px; color:#777; margin-bottom:10px; font-size:11pt; font-style:italic; position: relative; min-height:60px; max-width: 350px; margin-top:0px;}
body #feed .entry .thread .message a:first-child { font-weight: bold; color:#000; font-style: normal; text-decoration: none; }
body #feed .entry .thread .message a img { top:0px; left:0px; width:50px; height:50px;}
body #feed .entry .thread .expand,
body #feed .entry .media.embed .expand { padding: 5px 0px;font-size: 12px;color: #aaa;border-top: 1px solid #ddd;display: block;margin-right: 30px; margin-top:10px;}
body #feed .entry .thread .expand:hover,
body #feed .entry .media.embed .expand:hover { color:#000; cursor:pointer; }
body #feed .entry .thread .entry { background: transparent; padding-top: 0px; padding-bottom: 0px; min-height: 60px; padding-left: 70px; }
body #feed .entry .thread .entry:hover {}
body #feed .entry .thread .entry .message { padding: 0px 0px;margin-top: 0px;min-height: 15px;margin-bottom: 15px; }
body #feed .entry .thread .entry .icon { width: 50px;height: 50px;top: 0px; left:0px;}
body #feed .entry .message .highlight { font-weight: bold; color:#555; line-height: 25px; }
body #feed .entry .message .inline { display: inline-block; margin: 6px 4px -6px 4px; height: 24px; }
body #feed .entry .hashtag:hover { cursor:pointer; text-decoration: underline; }
body #feed .entry .media { position: relative; display:block; border-radius:4px; max-width: calc(100% - 30px); max-height: 400px; margin-top:15px; margin-bottom:15px; left: calc(50% - 15px); transform: translateX(-50%); }
body #feed .entry .media.embed { }
body #feed .entry .media.embed .media { max-height: 360px; margin-bottom: 20px; }
body #feed .entry .media.embed iframe.media { width: 100%; }
body #feed .entry .media.embed iframe.media.sandbox { height: 10000px; /* Limited by max-height */ }
body #feed .entry .media.embed .expand { margin-top: 0; }
body #feed .entry .media.embed .expand:hover {  }
body #feed .entry.whisper .tools > *:hover { color: white; text-decoration: underline; }
body #feed .entry ::-webkit-media-controls-panel { -webkit-filter: grayscale(); }
body #feed .entry audio { width: 100% }
body #feed .entry video { width: 100% }
body #feed .entry a.media { font-family: 'input_mono_medium'; font-size:12px; padding: 0px 5px; display:inline-block; background: #ccc; color: #000; border-radius: 0; }
body #feed .entry a.media:hover { background: #000; color: #fff; }
body #feed .entry.whisper { background:black; color:white;border-radius: 3px; }
body #feed .entry.whisper .thread .message a:first-child { color:#fff; }
body #feed .entry.whisper .thread .expand { border-top:1px solid #555; }
body #feed .entry.whisper .thread .expand:hover { color:#fff; }
body #feed .entry.whisper .head { border-bottom:1px solid #555; }
body #feed .entry.whisper .icon { filter: invert(100%) }

body #feed .paginator { font-family: "input_mono_regular"; cursor: pointer; user-select: none; text-align: center; }
body #feed .entry.paginator { padding: 0; }
body #feed .entry.paginator .message { margin: 16px 0 0 0; font-size: 16px; line-height: 40px; pointer-events: none; }
body #feed .badge.paginator .message { margin: 50px auto; font-size: 16px; text-decoration: none; pointer-events: none; }

body #feed .badge.paginator.refresh .message { transition: opacity 0.2s; }
body #feed .badge.paginator.refreshing { cursor: default; }
body #feed .badge.paginator.refreshing .message { opacity: 0.5; }

#wr_timeline { display: block; padding-bottom: 50px; }
#wr_portals { display: none; padding-bottom: 50px; }

body #feed.mentions .entry.mention { display: block }

body #feed.portals #wr_portals,
body #feed.discovery #wr_portals { display: block }
body #feed.portals #wr_timeline,
body #feed.discovery #wr_timeline { display: none; }

body #feed #tabs { z-index: 600;position: sticky;background: #eee; padding-top:20px; top: 40px; margin-bottom:30px; border-bottom: 1px solid #ccc; height: 46px;}
body #feed #tabs t { padding:10px 15px; display: inline-block; font-size: 12px; font-weight: bold; color:#aaa; margin-bottom:-1px;}
body #feed #tabs #tab_services { float:right; display: none }
body #feed #tabs t:hover,body #feed #tabs t.active { border-bottom:1px solid black; color:black; cursor:pointer;}

body #feed #tabs_wrapper { padding-top:10px; }
body #feed.timeline #tab_timeline,
body #feed.mentions #tab_mentions,
body #feed.whispers #tab_whispers,
body #feed.portals #tab_discovery {}

body #operator { position: fixed; top: 0px;overflow: hidden;z-index: 500;font-family: "input_mono_regular";margin: 0px auto;min-width: 400px;width: 100vw;top: 0px;background: #fff;z-index: 999;padding: 5px 0px;box-shadow: 0px 0px 2px rgba(0,0,0,0.15);min-height: 50px; margin-left: -125px; }
body #operator textarea { display: flex; color: white; width: 100%; align-content: center; height: 20px; resize: none; max-height: 100px; background: transparent; align-self: center; transition: all 150ms; line-height: 22px; min-height:20px; color:#000;padding-left: 15px;}
body #operator textarea.drag { background: #b7b7b7; }
body #operator textarea::-webkit-scrollbar { display: none; }
body #operator #hint { line-height: 20px; display: flex; text-align: right; align-self: flex-end; white-space: nowrap; color:RGBA(0,0,0,0.25); margin-right:15px;}
body #operator #hint.autocomplete { color:black; }
body #operator #wrapper { overflow: hidden;min-height: 1em;display: flex;padding: 10px 0px;background: transparent;font-size: 12px;padding-left: 20px;max-width: 630px;position: relative;background: #f4f4f4;border-radius: 3px;margin: 5px auto;left: 25px;}
body #operator:hover #options { opacity: 1 }
body #operator #options { padding:5px 15px; font-size:11px; color:#aaa; height:0px; opacity: 0; transition: opacity 0.25s ease-in-out; display: none}
body #operator #options t:hover { text-decoration: underline; color:black; cursor:pointer; }
body #operator #options t.right { float:right; display: inline-block; margin-left:10px; }
body #operator #rune { position: absolute; left:0px; color:#aaa; line-height: 16pt;padding-left: 15px;}
body #operator #icon { width:40px; height: 40px; display: block; position: absolute;left:50vw; margin-left: -350px;top: 10px; cursor:pointer;}
body #operator #icon:hover { opacity: 0.5 }

body > div.rotonde { padding-left: 250px; }

body #status { display: block;width: 250px;background: #191919;position: fixed;top: 0px;left: 0px;z-index: 9000;height: 100vh; }
body #status > h1 { border-bottom:1px solid #333;line-height: 60px;padding-left: 70px;font-size: 12px;font-weight: bold; color:white;  }
body #status > .logo { filter: invert(100%); background-image: url(../media/logo.svg);background-size: contain;height: 40px;width: 40px;position: absolute;top: 10px;left: 15px;border: 0px;outline: 0px; }
body #status > list { display: block; color:white; padding:20px 30px 20px 20px; overflow-y: scroll; height: calc(100vh - 90px); }
body #status > list ln { display: block; line-height: 20px; font-size:12px; clear:both;}
body #status > list ln a { font-weight: bold }
body #status > list ln a i { color:#666; display:inline-block; margin-right:5px; }
body #status > list ln a.compatible i { color:white; }
body #status > list ln a:hover { text-decoration: underline; cursor:pointer; }
body #status > list ln .time_ago { color:#666; float:right; }
body #status > list ln.filter .time_ago { color:#fff; }

#tab_portals { display: none !important }
#tab_discovery { float:right; }

.badge {     display: inline-block;margin-bottom: 1px;position: relative;padding: 10px;background: white;font-size: 11pt;width: calc(25% - 20px);float: left; text-align: center; height:240px; overflow: hidden;}
.badge img { width:100px; height: 100px; display:block; margin:20px auto;}
.badge a { font-weight: bold; font-size:11pt; line-height: 12pt; display: inline-block }
.badge a:hover { text-decoration: underline; cursor: pointer; }
.badge t { font-size:10pt; color:#ccc; line-height: 11pt; margin-top:0px; display: inline-block;}
.badge span { display: inline-block; font-size:11px; font-weight: bold}
.badge span.version { background: #eee;padding: 0px 7px;border-radius: 9px;font-size: 11px;font-weight: bold;line-height: 18px;margin-right: 15px; }
.badge span.version.same { background:#72dec2; color:white; }
.badge span.time_ago { color:#ccc; padding-left:5px; }
.badge span b { font-weight: bold }
.badge:hover { background: #f4f4f4; cursor: pointer; }

.badge.discovery { background:white; }

.rune.rune-operator.rune-operator-message:after { content: var(--rune-operator-message); }
.rune.rune-operator.rune-operator-command:after { content: var(--rune-operator-command); }
.rune.rune-operator.rune-operator-media:after { content: var(--rune-operator-media); }

.rune.rune-feed.rune-feed-whisper:after { content: var(--rune-feed-whisper); }
.rune.rune-feed.rune-feed-quote:after { content: var(--rune-feed-quote); }
.rune.rune-feed.rune-feed-mention:after { content: var(--rune-feed-mention); }

.rune.rune-portal.rune-portal-rotonde:after { content: var(--rune-portal-rotonde); }
.rune.rune-portal.rune-portal-self:after { content: var(--rune-portal-self); }
.rune.rune-portal.rune-portal-both:after { content: var(--rune-portal-both); }
.rune.rune-portal.rune-portal-follow:after { content: var(--rune-portal-follow); }
.rune.rune-portal.rune-portal-bot:after { content: var(--rune-portal-bot); }

body.guest #operator #wrapper { display:none; }

html.night { filter: hue-rotate(180deg) invert(); background: #111; }
html.night body #feed .entry img.media { filter: hue-rotate(180deg) invert(); background: #666; }
html.night body #feed .entry video.media { filter: hue-rotate(180deg) invert(); }
html.night body #feed .entry iframe.media { filter: hue-rotate(180deg) invert(); }
html.night ::-webkit-media-controls-panel { background: #000; }

body #feed #tabs,
body #feed #wr_timeline,
body #feed #wr_portals { transition: filter 0.15s; will-change: filter;}
body.in-bigpicture #feed #tabs,
body.in-bigpicture #feed #wr_timeline,
body.in-bigpicture #feed #wr_portals { filter: blur(2px) saturate(50%); }

body #feed .bigpicture { background: rgba(31, 31, 31, 0.9); position: absolute; display: block; z-index: 900; top: 0; right: 0; left: 0; min-height: calc(100vh - 60px); }
body #feed .bigpicture > .entry { margin: calc(100vh - 60px) auto 0 auto; width: 100%; max-width: 700px; }
/* In case questions arise:
 * Top is: Center of view = (.entry.top) - 50vh + entry peeking height
 * The maximum height is: view height - operator height - entry peeking height - padding
 * This is horrible.
 * -ade
 */
body #feed .bigpicture > .entry > .media { position: absolute; top: calc(-50vh + 60px); left: 50%; margin: 0; transform: translate(-50%, -50%); }
body #feed .bigpicture > .entry > .media,
body #feed .bigpicture > .entry > .media.embed .media { max-width: calc(100vw - 30px); max-height: calc(100vh - 60px - 60px - 30px); }
body #feed .bigpicture > .entry > .media.embed .media { display: block; margin: 0; padding: 0; }
body #feed .bigpicture > .entry > .media.embed .expand { display: none; }

body .fade-in { animation: fade-in 0.15s forwards; }
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
body .fade-out-die { animation: fade-out-die 0.15s forwards; pointer-events: none; }
@keyframes fade-out-die {
  0% { opacity: 1; }
  100% { opacity: 0; display: none !important; }
}

body .hidden { display: none !important; pointer-events: none; }
