body { font-size:11pt; font-family: 'Helvetica Neue','Helvetica'; padding:30px; line-height:20pt; background:#eee; padding-bottom: 140px; width: 100vw; display: flex; flex-direction: column; padding: 0px;}
t { display:inline-block; }
hr { clear:both; }

body #portal { position: fixed;left: 0px;bottom: 0px;width: 200px;z-index: 1000;height: 30px;}
body #portal #logo { width: 50px;height: 50px;display: block;position: absolute;left: 25px;     width: 30px;height: 30px;display: block;position: absolute;left: 10px;bottom: 10px; opacity: 0.1}
body #portal #version { width:50px; height: 50px; display:block;position: absolute;top: 30px;left: 100px; font-size:12px; font-weight: bold; }
body #portal #profile { width: 700px;position: absolute;top: 10px;left: calc(50vw);z-index: 300;margin-left: -350px; display: none}
body #portal #profile .icon { }
body #portal #profile .icon img { width:40px; height: 40px; display:block; }
body #portal #profile .name { display:block; font-weight:bold;  text-align: right; line-height: 40pt; margin-bottom:0px;}
body #portal #profile .name:before { content:""; }
body #portal #profile .desc { display:block; font-size:12px; text-align: right; max-width: 140px; float:right; line-height: 16px; display: none}
body #portal #profile .site { display:block; color:#999; display: none }
body #portal #profile .port { display: block }
body #portal #profile .feed { display:block; }
body #portal .version { position: absolute;left: 50px;font-size: 11px;font-weight: bold;bottom: 12.5px;opacity: 0.1;; }

body #portal #discovery { font-size:11px; color:#000; line-height: 20px; margin-bottom:20px; display: none}

body #portal .port_status { display:none; }
body #portal .port_list { display:none; columns:2; overflow:hidden; margin-bottom:30px;}
body #portal .port_list ln { display: block; font-size:11px; line-height: 20px;  }
body #portal .port_list ln:hover { text-decoration: underline; cursor: pointer; }
body #portal .port_list ln .undat { display:none;}
body #portal .port_list ln.active a { font-family: 'input_mono_medium'}
body #portal .port_list ln.inactive a {color:#777;}
body #portal .port_list ln.dead {color:#ccc;}
body #portal .port_list ln.dead:hover { text-decoration: underline; cursor: pointer }
body #portal:hover .port_list { display: block }

body #feed { padding:0px; min-width: 600px; max-width:700px; margin:0px auto; width: 100vw;}
body #feed .clear_filter { margin-bottom: 20px; display: block; margin-left:30px; }
body #feed .clear_filter:hover { cursor:pointer; text-decoration: underline; }
body #feed .clear_filter b { font-family: 'input_mono_medium' }
body #feed .entry { padding: 20px 0px;line-height: 20px;padding-left: 100px;position: relative;padding-bottom: 20px; min-height:70px; background:white; margin-bottom:1px;}
/*body #feed .entry.large .message{ font-size: 16pt;line-height: 28px;max-width: 75%; }*/
body #feed .entry:hover { background:#f4f4f4; }
body #feed .entry:hover .tools { display:inline-block; }
body #feed .entry .link { position:absolute; right:20px; color:#aaa; font-size:14px; top:25px; display: none; padding:0px 15px;}
body #feed .entry:hover .link { display: block }
body #feed .entry .link:hover { color:black; cursor: pointer; }
body #feed .entry .icon { width:60px; height:60px; display:block; float:left; margin-right:20px; position: absolute; left:15px; top:25px;}
body #feed .entry .message { line-height: 22px; margin-right:60px;}
body #feed .entry .message a { text-decoration: underline; }
body #feed .entry .message b { font-weight: bold }
body #feed .entry .message i { font-style: italic; }
body #feed .entry .message del { text-decoration: line-through; }
body #feed .entry .message.quote { padding:0px 40px; color:#777; margin-top:15px; margin-bottom:10px; font-size:11pt; font-style: italic}
body #feed .entry .message .highlight { font-weight: bold; color:#555; line-height: 25px; }
body #feed .entry .portal { margin-right:15px;  display:inline-block; margin-top:10px; font-weight: bold; margin-bottom:5px;}
body #feed .entry .known_portal { display:inline-block;background: #f4f4f4;padding: 0px 5px;color: #000; }
body #feed .entry .known_portal:hover { background:#000; color:white; }
body #feed .entry .timestamp { color:#ccc; font-size:10pt; }
body #feed .entry .timestamp:hover { cursor:pointer; text-decoration: underline; }
body #feed .entry .editstamp { color:#ccc; font-size:10pt; }
body #feed .entry .editstamp:hover { cursor:pointer; text-decoration: underline; }
body #feed .entry .hashtag:hover { cursor:pointer; text-decoration: underline; }
body #feed .entry .media { max-width: calc(100% - 30px); margin-top:15px; display:block; margin-bottom:15px; border-radius:4px; }
body #feed .entry .tools { display:none; float:right; margin-right:15px; margin-top:10px; cursor:pointer; }
body #feed .entry .tools > *:hover { text-decoration: underline; }
body #feed .entry ::-webkit-media-controls-panel { -webkit-filter: saturate(0); }
body #feed .entry audio { width: 100% }
body #feed .entry video { width: 100% }
body #feed .entry a.media { font-family: 'input_mono_medium'; font-size:12px; padding: 0px 5px; display:inline-block; background: #ccc; color: #000; border-radius: 0; }
body #feed .entry a.media:hover { background: #000; color: #fff; }
body #feed .entry.whisper { background:black; color:white; }
body #feed .entry.whisper .icon { filter: invert(100%) }
body #feed .entry.mention .portal { color:red; }

#wr_timeline { display: block; padding-bottom: 50px; }
#wr_portals { display: none; background:white;}

body #feed.mentions .entry { display: none }
body #feed.mentions .entry.mention { display: block }

body #feed.mentions #wr_portals { display: block }
body #feed.mentions #wr_portals { display: none }
body #feed.portals #wr_portals { display: block }
body #feed.portals #wr_timeline { display: none; }

#tab_network { background:transparent !important; color:#aaa !important; }
#tab_network:hover { cursor: default !important; }

body #feed #tabs { z-index: 600;position: sticky;background: #eee; padding-top:20px; top: 40px; margin-bottom:30px; border-bottom: 1px solid #ccc;}
body #feed #tabs t { padding:5px 15px; display: inline-block; font-size: 12px; font-weight: bold; color:#aaa; margin-bottom:-1px;}
body #feed #tabs #tab_services { float:right; display: none }
body #feed #tabs t:hover,body #feed #tabs t.active { background:white; color:black; cursor:pointer;}

body #feed #tabs :first-child { color:black; border-bottom:1px solid #000;}
body #feed.mentions #tabs :first-child { background:transparent; color:#aaa; }
body #feed.mentions #tab_mentions { border-bottom:1px solid #000; color:black; }
body #feed.portals #tab_portals { border-bottom:1px solid #000; color:black; }
body #feed.portals #tabs :first-child { border-bottom:1px solid #ccc; color:#aaa; }

body #feed #tabs :first-child:hover { background:white !important; color:black !important; }

.hidden { display: none; }

body #operator { position: sticky;overflow: hidden;z-index: 500;font-family: "input_mono_regular";margin: 0px auto;min-width: 400px;width: 100vw;top: 0px;background: #fff;z-index: 999;padding: 5px 0px;box-shadow: 0px 0px 2px rgba(0,0,0,0.15);}
body #operator textarea { display: flex; color: white; width: 100%; align-content: center; height: 20px; resize: none; max-height: 100px; background: transparent; align-self: center; transition: all 150ms; line-height: 22px; min-height:20px; color:#000;padding-left: 15px;}
body #operator textarea.drag { background: #b7b7b7; }
body #operator textarea::-webkit-scrollbar { display: none; }
body #operator #hint { line-height: 20px; display: flex; text-align: right; align-self: flex-end; white-space: nowrap; color:RGBA(0,0,0,0.25); margin-right:15px;}
body #operator #hint.autocomplete { color:black; }
body #operator #wrapper { overflow: hidden;min-height: 1em;display: flex;padding: 10px 0px;background: transparent;font-size: 12px;padding-left: 20px;max-width: 630px;position: relative;background: #f4f4f4;border-radius: 3px;margin: 5px auto;left: 25px;}
body #operator:hover #options { opacity: 1 }
body #operator #options { padding:5px 15px; font-size:11px; color:#aaa; height:0px; opacity: 0; transition: opacity 0.25s ease-in-out; display: none}
body #operator #options t:hover { text-decoration: underline; color:black; cursor:pointer; }
body #operator #options t.right { float:right; display: inline-block; margin-left:10px; }
body #operator #rune { position: absolute; left:0px; color:#aaa; line-height: 16pt;padding-left: 15px;}
body #operator #icon { width:40px; height: 40px; display: block; position: absolute;left:50vw; margin-left: -350px;top: 10px; }

.badge {     display: inline-block;margin-bottom: 1px;position: relative;padding: 10px;background: white;font-size: 11pt;width: calc(25% - 20px);float: left; text-align: center; height:240px; overflow: hidden;}
.badge img { width:100px; height: 100px; display:block; margin:20px auto;}
.badge a { font-weight: bold; font-size:11pt; line-height: 12pt; display: inline-block }
.badge a:hover { text-decoration: underline; cursor: pointer; }
.badge t { font-size:10pt; color:#ccc; line-height: 11pt; margin-top:0px; display: inline-block;}
.badge span { display: inline-block; font-size:11px; font-weight: bold}
.badge span.version { background: #eee;padding: 0px 7px;border-radius: 9px;font-size: 11px;font-weight: bold;line-height: 18px;margin-right: 15px; }
.badge span.version.same { background:#72dec2; color:white; }
.badge span.time_ago { color:#ccc; padding-left:5px; }
.badge span b { font-weight: bold }
.badge:hover { background: #f4f4f4; cursor: pointer; }

.badge.discovery { background:transparent; }
